<div class="popin-content">
    <div class="popin-content-titre">
        {% trans %}Attention{% endtrans %}
        <a class="croix-ferme" href=""></a>
    </div>

    <div class="popin-content-contenu">
        <div id="fonction-non-disponible-offre-decouverte-contenu">
            <p>{% trans %}Cette fonctionnalité n'est pas disponible en mode gratuit.{% endtrans %}<br/>
                {% trans %}Pour bénéficier de tous les fonctionalités que nous mettons à votre disposition, créez un compte et prenez une nouvelle offre en cliquant sur le bouton adéquat ci-dessous.{% endtrans %}
            </p>

            <br/>
            <button id="fonction-non-disponible-offre-decouverte-button-ok">{% trans %}Choisir une offre{% endtrans %}</button>
            <button id="fonction-non-disponible-offre-decouverte-button-ko">{% trans %}Annuler{% endtrans %}</button>
        </div>
    </div>
</div>