<div id="popin-article-indisponible-contenu">
    <p>{% trans %}Cet article n'est pas disponible en mode gratuit. Pour bénéficier de tous les articles que nous mettons à votre disposition, créer un compte et prenez une nouvelle offre en cliquant sur le bouton adéquat ci-dessous.{% endtrans %}</p>
    <button id="popin-article-indisponible-ok">{% trans %}Choisir une offre{% endtrans %}</button>
    <button id="popin-article-indisponible-ko">{% trans %}Annuler{% endtrans %}</button>
</div>