<a target="_blank" href="{{ object.webPath }}" class="btn btn-sm btn-default view_picture_link" title="Proportions"
   target="_blank">
    <i class="glyphicon glyphicon-picture"></i>
    Voir la photo
</a>