<div id="popin-confirmation-contenu">
    <p>{% trans %}Etes-vous sur d'effectuer cette action ?{% endtrans %}</p>
    <button id="popin-confirmation-ok">{% trans %}Confirmer{% endtrans %}</button>
    <button id="popin-confirmation-ko">{% trans %}Annuler{% endtrans %}</button>
</div>