{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.webPathRenderedImage %}
            <a href="{{ path('mjmt_application_homepage', {'creationId': object.id, 'hash': object.getReferenceLecture}) }}"
               style="float: left; margin-right: 6px;" target="_blank">
                <img src="{{ object.webPathRenderedImage | imagine_filter('my_thumb') }}?{{ object.getDateModification() != null ? object.getDateModification().timestamp : "" }}"/>
            </a>
        {% endif %}

        <strong>{{ object.nom }}</strong>
    </div>
{% endblock %}
