<div id="popin-quitter-contenu">
    <p>{% trans %}Voulez-vous enregistrer vos modifications avant de quitter l'application ?{% endtrans %}</p>
    <button id="popin-quitter-ok">{% trans %}Oui{% endtrans %}</button>
    <button id="popin-quitter-ko">{% trans %}Non{% endtrans %}</button>
</div>