<div class="popin-content">
    <div class="popin-content-titre">
        {{ titre }}
        <a class="croix-ferme" href=""></a>
    </div>

    <div class="popin-content-contenu contenu-{{ contenu|replace({'-': '_'}) }}">
        {% include 'application/popin/partial_' ~ contenu|replace({'-': '_'}) ~ '/contenu.html.twig' %}
    </div>
</div>