<div id="popin-confirmation-modification-contenu">
    <p>{% trans %}Etes-vous sur d'effectuer cette action ?{% endtrans %}</p>
    <button id="popin-confirmation-modification-ok">{% trans %}Confirmer{% endtrans %}</button>
    <button id="popin-confirmation-modification-ko">{% trans %}Annuler{% endtrans %}</button>
    <button id="popin-confirmation-modification-fermer">{% trans %}Fermer{% endtrans %}</button>
</div>