<div id="popin-enregistrement-contenu">
    <p>{% trans %}Veuillez patienter, l'enregistrement de vos modifications est en cours.{% endtrans %}</p>
    <img src="{{ asset('/application/images/loader-reverse.gif') }}"/>
</div>