<h2>{% trans %}Quelques témoignages{% endtrans %}</h2>

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <img class="testimony-photo"
             src="{{ '/front/images/accueil/temoignage-2.jpg' | imagine_filter('thumb_front_accueil_temoignage') }}"/>

        <p class="testimony-name">Mickael L</p>

        <p class="testimony-text">
            "{% trans %}Un site efficace et simple d'utilisation qui peut autant être utilisé par des particuliers afin de se projeter dans d'éventuels travaux.{% endtrans %}
            "
        </p>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
        <img class="testimony-photo"
             src="{{ '/front/images/accueil/temoignage-1.jpg' | imagine_filter('thumb_front_accueil_temoignage') }}"/>

        <p class="testimony-name">Stephanie R</p>

        <p class="testimony-text">
            "{% trans %}La première photo étant gratuite, j'ai réalisé un essai concluant... Ce produit permet un bon visuel. Il est facile d'utilisation.{% endtrans %}
            "
        </p>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
        <img class="testimony-photo"
             src="{{ '/front/images/accueil/temoignage-3.jpg' | imagine_filter('thumb_front_accueil_temoignage') }}"/>

        <p class="testimony-name">Audrey R</p>

        <p class="testimony-text">
            "{% trans %}Super logiciel pour les jardiniers dilettantes comme moi ! La mise en route est rapide et facile, elle permet d’indiquer l’exposition du terrain pour éviter de choisir des plantes qui ne conviennent pas à son ensoleillement. L’utilisation est ultra-simple : un jeu d’enfant au sens propre puisque je l’utilisais avec mes élèves de Primaire en cours d’informatique ! Il suffit de choisir les plantes ou les objets désirés dans le catalogue proposé, on peut ensuite les agrandir ou les déplacer à sa guise. C’est un excellent moyen de découvrir de nouvelles plantes et de contrôler son budget avant d’aller chez un pépiniériste. Quand le projet est terminé, on reçoit par mail la liste des plantes et produits utilisés ainsi que le plan de plantation et les conseils d’entretien. Bref, je recommande vivement ce logiciel à ceux qui manquent d’imagination et veulent un support visuel pour aménager leur jardin.{% endtrans %}
            "
        </p>
    </div>
</div>